<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.cctyl.mapper.TagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.cctyl.domain.po.Tag">
        <id column="id" property="id"/>
        <result column="tag_id" property="tagId"/>
        <result column="tag_name" property="tagName"/>
        <result column="cover" property="cover"/>
        <result column="head_cover" property="headCover"/>
        <result column="content" property="content"/>
        <result column="short_content" property="shortContent"/>
        <result column="jump_url" property="jumpUrl"/>
        <result column="created_date" property="createdDate"/>
        <result column="last_modified_date" property="lastModifiedDate"/>

    </resultMap>


    <!--用于联表查询的，id做了别名处理-->
    <resultMap id="BaseResultMapAssoc" type="io.github.cctyl.domain.po.Tag">
        <id column="tag_id" property="id"/>
        <result column="tag_tag_id" property="tagId"/>
        <result column="tag_tag_name" property="tagName"/>
        <result column="tag_cover" property="cover"/>
        <result column="tag_head_cover" property="headCover"/>
        <result column="tag_content" property="content"/>
        <result column="tag_short_content" property="shortContent"/>

        <result column="tag_jump_url" property="jumpUrl"/>
        <result column="tag_created_date" property="createdDate"/>
        <result column="tag_last_modified_date" property="lastModifiedDate"/>

    </resultMap>



        <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tag_id, tag_name, cover, head_cover, content, short_content,
          jump_url, created_date, last_modified_date
    </sql>


        <!--联表查询使用的sql-->
    <sql id="Base_Column_List_Assoc">

        tag.id as tag_id,
        tag.tag_id as tag_tag_id,
        tag.tag_name as tag_tag_name,
        tag.cover as tag_cover,
        tag.head_cover as tag_head_cover,
        tag.content as tag_content,
        tag.short_content as tag_short_content,

        tag.jump_url as tag_jump_url,
        tag.created_date as tag_created_date,
        tag.last_modified_date as tag_last_modified_date
    </sql>
    <select id="findByVideoId" resultMap="BaseResultMapAssoc">

        select
            <include refid="Base_Column_List_Assoc"/>
        from
            video_tag vt
            join tag tag on
            vt.tag_id = tag.id
        where
            vt.video_id = #{id}


    </select>

</mapper>
