spring:
  redis:
    host: 127.0.0.1
    port: 6379
    lettuce:
      pool:
        max-active: 8
        max-wait: -1ms
        max-idle: 8
        min-idle: 0


common:
  #是否需要执行初始化
  init: false
  # 最大模拟播放秒数
  minPlaySecond: 50
  #图像识别服务
  imgService: baidu,
  baidu:
    clientId: xxx
    clientSecret: xxxxx

  ws:
    # 是否开启ws
    enable: false
    url: ws://xxxxx

  # 初始化的数据
  defaultData:
    cookie: xxxxx
    mid: xxxxx
    keyWord:
      - xxxxx
    blackUserId:
      - xxxxx
    blackKeyWord:
      - xxxxx
    blackTag:
      - xxxxx
    blackTid:
      - 129
      - 20
      - 154
      - 156
      - 198
      - 199
      - 200
      - 235
      - 155
      - 157
      - 252
      - 158
      - 159
    # 白名单
    whiteTid:
      - xx
    whiteUserId:
      - xxx
    # 白名单关键词规则，4个条件中两个匹配才通过。每一个whiteKeyWord实体类的四个条件之间是存在关联关系的
    whiteKeyWordList:
        # 标签名列表
      - tagNameList:
          - 萌宠
        # 标题包含的关键词列表
        titleKeyWordList:
          - 猫猫
          - 橘猫
        # 描述应当包含的关键词列表
        descKeyWordList:
          - 猫

        # 封面经过物体识别后的结果，应当包含的关键词列表
        coverKeyword: 猫