spring:
  redis:
    host: 127.0.0.1
    port: 6379
    lettuce:
      pool:
        max-active: 8
        max-wait: -1ms
        max-idle: 8
        min-idle: 0


common:
  #是否需要执行初始化
  init: false
  baidu:
    # 是否启用baidu的api
    enable: true
    clientId: 11111
    clientSecret: 11111

  ws:
    # 是否开启ws
    enable: true
    url: ws://xxxxx