<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.cctyl.mapper.DictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.cctyl.entity.Dict">
        <id column="id" property="id"/>
        <result column="value" property="value"/>
        <result column="access_type" property="accessType"/>
        <result column="dict_type" property="dictType"/>
        <result column="created_date" property="createdDate"/>
        <result column="last_modified_date" property="lastModifiedDate"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="version" property="version"/>
    </resultMap>


    <!--用于联表查询的，id做了别名处理-->
    <resultMap id="BaseResultMapAssoc" type="io.github.cctyl.entity.Dict">
        <id column="dict_id" property="id"/>
        <result column="dict_value" property="value"/>
        <result column="dict_access_type" property="accessType"/>
        <result column="dict_dict_type" property="dictType"/>
        <result column="dict_created_date" property="createdDate"/>
        <result column="dict_last_modified_date" property="lastModifiedDate"/>
        <result column="dict_is_deleted" property="isDeleted"/>
        <result column="dict_version" property="version"/>
    </resultMap>



        <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, value, access_type, dict_type, created_date, last_modified_date, is_deleted, version
    </sql>


        <!--联表查询使用的sql-->
    <sql id="Base_Column_List_Assoc">

        t_dict.id as dict_id,
        t_dict.value as dict_value,
        t_dict.access_type as dict_access_type,
        t_dict.dict_type as dict_dict_type,
        t_dict.created_date as dict_created_date,
        t_dict.last_modified_date as dict_last_modified_date,
        t_dict.is_deleted as dict_is_deleted,
        t_dict.version as dict_version
    </sql>

</mapper>
