<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.cctyl.mapper.VideoDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.cctyl.domain.po.VideoDetail">
        <id column="id" property="id"/>
        <result column="aid" property="aid"/>
        <result column="videos" property="videos"/>
        <result column="tid" property="tid"/>
        <result column="tname" property="tname"/>
        <result column="copyright" property="copyright"/>
        <result column="pic" property="pic"/>
        <result column="title" property="title"/>
        <result column="pubdate" property="pubdate"/>
        <result column="ctime" property="ctime"/>
        <result column="desc" property="desc"/>
        <result column="state" property="state"/>
        <result column="duration" property="duration"/>
        <result column="mission_id" property="missionId"/>
        <result column="dynamic" property="dynamic"/>
        <result column="cid" property="cid"/>
        <result column="season_id" property="seasonId"/>
        <result column="short_link_v2" property="shortLinkV2"/>
        <result column="first_frame" property="firstFrame"/>
        <result column="pub_location" property="pubLocation"/>
        <result column="bvid" property="bvid"/>
        <result column="season_type" property="seasonType"/>
        <result column="is_ogv" property="isOgv"/>
        <result column="owner_id" property="ownerId"/>
        <result column="teenage_mode" property="teenageMode"/>
        <result column="is_chargeable_season" property="isChargeableSeason"/>
        <result column="is_story" property="isStory"/>
        <result column="is_upower_exclusive" property="isUpowerExclusive"/>
        <result column="is_upower_play" property="isUpowerPlay"/>
        <result column="no_cache" property="noCache"/>
        <result column="is_season_display" property="isSeasonDisplay"/>
        <result column="like_icon" property="likeIcon"/>
        <result column="need_jump_bv" property="needJumpBv"/>
        <result column="enable_vt" property="enableVt"/>
        <result column="disable_show_up_info" property="disableShowUpInfo"/>
        <result column="up_from_v2" property="upFromV2"/>
        <result column="rcmd_reason" property="rcmdReason"/>
        <result column="score" property="score"/>
        <result column="handle_type" property="handleType"/>
        <result column="created_date" property="createdDate"/>
        <result column="last_modified_date" property="lastModifiedDate"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="version" property="version"/>
    </resultMap>


    <!--用于联表查询的，id做了别名处理-->
    <resultMap id="BaseResultMapAssoc" type="io.github.cctyl.domain.po.VideoDetail">
        <id column="videoDetail_id" property="id"/>
        <result column="videoDetail_aid" property="aid"/>
        <result column="videoDetail_videos" property="videos"/>
        <result column="videoDetail_tid" property="tid"/>
        <result column="videoDetail_tname" property="tname"/>
        <result column="videoDetail_copyright" property="copyright"/>
        <result column="videoDetail_pic" property="pic"/>
        <result column="videoDetail_title" property="title"/>
        <result column="videoDetail_pubdate" property="pubdate"/>
        <result column="videoDetail_ctime" property="ctime"/>
        <result column="videoDetail_desc" property="desc"/>
        <result column="videoDetail_state" property="state"/>
        <result column="videoDetail_duration" property="duration"/>
        <result column="videoDetail_mission_id" property="missionId"/>
        <result column="videoDetail_dynamic" property="dynamic"/>
        <result column="videoDetail_cid" property="cid"/>
        <result column="videoDetail_season_id" property="seasonId"/>
        <result column="videoDetail_short_link_v2" property="shortLinkV2"/>
        <result column="videoDetail_first_frame" property="firstFrame"/>
        <result column="videoDetail_pub_location" property="pubLocation"/>
        <result column="videoDetail_bvid" property="bvid"/>
        <result column="videoDetail_season_type" property="seasonType"/>
        <result column="videoDetail_is_ogv" property="isOgv"/>
        <result column="videoDetail_owner_id" property="ownerId"/>
        <result column="videoDetail_teenage_mode" property="teenageMode"/>
        <result column="videoDetail_is_chargeable_season" property="isChargeableSeason"/>
        <result column="videoDetail_is_story" property="isStory"/>
        <result column="videoDetail_is_upower_exclusive" property="isUpowerExclusive"/>
        <result column="videoDetail_is_upower_play" property="isUpowerPlay"/>
        <result column="videoDetail_no_cache" property="noCache"/>
        <result column="videoDetail_is_season_display" property="isSeasonDisplay"/>
        <result column="videoDetail_like_icon" property="likeIcon"/>
        <result column="videoDetail_need_jump_bv" property="needJumpBv"/>
        <result column="videoDetail_enable_vt" property="enableVt"/>
        <result column="videoDetail_disable_show_up_info" property="disableShowUpInfo"/>
        <result column="videoDetail_up_from_v2" property="upFromV2"/>
        <result column="videoDetail_rcmd_reason" property="rcmdReason"/>
        <result column="videoDetail_score" property="score"/>
        <result column="videoDetail_handle_type" property="handleType"/>
        <result column="videoDetail_created_date" property="createdDate"/>
        <result column="videoDetail_last_modified_date" property="lastModifiedDate"/>
        <result column="videoDetail_is_deleted" property="isDeleted"/>
        <result column="videoDetail_version" property="version"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, aid, videos, tid, tname, copyright, pic, title, pubdate, ctime, desc, state, duration, mission_id, dynamic, cid, season_id, short_link_v2, first_frame, pub_location, bvid, season_type, is_ogv, owner_id,  teenage_mode, is_chargeable_season, is_story, is_upower_exclusive, is_upower_play, no_cache, is_season_display, like_icon, need_jump_bv, enable_vt, disable_show_up_info, up_from_v2, rcmd_reason, score, handle_type, created_date, last_modified_date, is_deleted, version
    </sql>


    <!--联表查询使用的sql-->
    <sql id="Base_Column_List_Assoc">

        videoDetail.id as videoDetail_id,
        videoDetail.aid as videoDetail_aid,
        videoDetail.videos as videoDetail_videos,
        videoDetail.tid as videoDetail_tid,
        videoDetail.tname as videoDetail_tname,
        videoDetail.copyright as videoDetail_copyright,
        videoDetail.pic as videoDetail_pic,
        videoDetail.title as videoDetail_title,
        videoDetail.pubdate as videoDetail_pubdate,
        videoDetail.ctime as videoDetail_ctime,
        videoDetail.desc as videoDetail_desc,
        videoDetail.state as videoDetail_state,
        videoDetail.duration as videoDetail_duration,
        videoDetail.mission_id as videoDetail_mission_id,
        videoDetail.dynamic as videoDetail_dynamic,
        videoDetail.cid as videoDetail_cid,
        videoDetail.season_id as videoDetail_season_id,
        videoDetail.short_link_v2 as videoDetail_short_link_v2,
        videoDetail.first_frame as videoDetail_first_frame,
        videoDetail.pub_location as videoDetail_pub_location,
        videoDetail.bvid as videoDetail_bvid,
        videoDetail.season_type as videoDetail_season_type,
        videoDetail.is_ogv as videoDetail_is_ogv,
        videoDetail.owner_id as videoDetail_owner_id,
        videoDetail.teenage_mode as videoDetail_teenage_mode,
        videoDetail.is_chargeable_season as videoDetail_is_chargeable_season,
        videoDetail.is_story as videoDetail_is_story,
        videoDetail.is_upower_exclusive as videoDetail_is_upower_exclusive,
        videoDetail.is_upower_play as videoDetail_is_upower_play,
        videoDetail.no_cache as videoDetail_no_cache,
        videoDetail.is_season_display as videoDetail_is_season_display,
        videoDetail.like_icon as videoDetail_like_icon,
        videoDetail.need_jump_bv as videoDetail_need_jump_bv,
        videoDetail.enable_vt as videoDetail_enable_vt,
        videoDetail.disable_show_up_info as videoDetail_disable_show_up_info,
        videoDetail.up_from_v2 as videoDetail_up_from_v2,
        videoDetail.rcmd_reason as videoDetail_rcmd_reason,
        videoDetail.score as videoDetail_score,
        videoDetail.handle_type as videoDetail_handle_type,
        videoDetail.created_date as videoDetail_created_date,
        videoDetail.last_modified_date as videoDetail_last_modified_date,
        videoDetail.is_deleted as videoDetail_is_deleted,
        videoDetail.version as videoDetail_version
    </sql>


    <resultMap id="withOwnerMap" type="io.github.cctyl.domain.po.VideoDetail" extends="BaseResultMapAssoc">
        <association property="owner" resultMap="io.github.cctyl.mapper.OwnerMapper.BaseResultMapAssoc"/>
    </resultMap>

    <select id="findWithOwnerAndHandle" resultMap="withOwnerMap">

        select
        <include refid="Base_Column_List_Assoc"/>,
        <include refid="io.github.cctyl.mapper.OwnerMapper.Base_Column_List_Assoc"/>
        from
        video_detail videoDetail
        left join owner t_owner on
        t_owner.id = videoDetail.owner_id and t_owner.is_deleted = 0
        where videoDetail.handle is #{isHandle}

        and videoDetail.is_deleted = 0


    </select>
    <select id="findWithOwnerByIdIn" resultMap="withOwnerMap">
        select
        <include refid="Base_Column_List_Assoc"/>,
        <include refid="io.github.cctyl.mapper.OwnerMapper.Base_Column_List_Assoc"/>
        from
        video_detail videoDetail
        left join owner t_owner on
        t_owner.id = videoDetail.owner_id and t_owner.is_deleted = 0
        where

        videoDetail.is_deleted = 0
        and
        <choose>

            <when test="idCol !=null and idCol.size>0">
                videoDetail.id in
                <foreach collection="idCol" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </when>

            <!-- 可选 上述所有情况都不满足时，走到该标签-->
            <otherwise>
                false
            </otherwise>
        </choose>


    </select>

</mapper>
