<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.cctyl.mapper.VideoRelateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.cctyl.domain.po.VideoRelate">
        <id column="id" property="id"/>
        <result column="master_video_id" property="masterVideoId"/>
        <result column="related_video_id" property="relatedVideoId"/>
        <result column="created_date" property="createdDate"/>
        <result column="last_modified_date" property="lastModifiedDate"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="version" property="version"/>
    </resultMap>


    <!--用于联表查询的，id做了别名处理-->
    <resultMap id="BaseResultMapAssoc" type="io.github.cctyl.domain.po.VideoRelate">
        <id column="videoRelate_id" property="id"/>
        <result column="videoRelate_master_video_id" property="masterVideoId"/>
        <result column="videoRelate_related_video_id" property="relatedVideoId"/>
        <result column="videoRelate_created_date" property="createdDate"/>
        <result column="videoRelate_last_modified_date" property="lastModifiedDate"/>
        <result column="videoRelate_is_deleted" property="isDeleted"/>
        <result column="videoRelate_version" property="version"/>
    </resultMap>



        <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, master_video_id, related_video_id, created_date, last_modified_date, is_deleted, version
    </sql>


        <!--联表查询使用的sql-->
    <sql id="Base_Column_List_Assoc">

        videoRelate.id as videoRelate_id,
        videoRelate.master_video_id as videoRelate_master_video_id,
        videoRelate.related_video_id as videoRelate_related_video_id,
        videoRelate.created_date as videoRelate_created_date,
        videoRelate.last_modified_date as videoRelate_last_modified_date,
        videoRelate.is_deleted as videoRelate_is_deleted,
        videoRelate.version as videoRelate_version
    </sql>

</mapper>
